//Lora
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

//Alegreya
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap');

//Manrope
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

//Playfair
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@font-face {
    font-family: 'Arial';
    src: url('https://allydesign.org/fonts/arial/arial.woff2') format("woff2");
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('https://allydesign.org/fonts/arial-narrow/arial-narrow.woff2') format("woff2");
}

@font-face {
    font-family: 'Felidae';
    src: url('https://allydesign.org/fonts/felidae/felidae.woff2') format("woff2");
}

@font-face {
    font-family: 'Forum';
    src: url('https://allydesign.org/fonts/forum/forum.woff2') format("woff2");
}

@font-face {
    font-family: 'Kharkiv';
    src: url('https://allydesign.org/fonts/kharkiv/kharkiv.woff2') format("woff2");
}

@font-face {
    font-family: 'Le Murmure';
    src: url('https://allydesign.org/fonts/le-murmure/le-murmure.woff2') format("woff2");
}

@font-face {
    font-family: 'Miedinger*';
    src: url('https://allydesign.org/fonts/miedinger/miedinger.woff2') format("woff2");
}

@font-face {
    font-family: 'Neutral Face';
    src: url('https://allydesign.org/fonts/neutral-face/neutral-face.woff2') format("woff2");
}

@font-face {
    font-family: 'Plup';
    src: url('https://allydesign.org/fonts/plup/plup.woff2') format("woff2");
}

@font-face {
    font-family: 'Ramona';
    src: url('https://allydesign.org/fonts/ramona/ramona-light.woff2') format("woff2");
}

@font-face {
    font-family: 'Soyuz Grotesk';
    src: url('https://allydesign.org/fonts/soyuz/soyuz-grotesk.woff2') format("woff2");
}

@font-face {
    font-family: 'St.Sign';
    src: url('https://allydesign.org/fonts/st.sign/st.sign.woff2') format("woff2");
}

@font-face {
    font-family: 'St.Sign Cond';
    src: url('https://allydesign.org/fonts/st.sign/st.sign-condensed.woff2') format("woff2");
}

@font-face {
    font-family: 'Times New Roman';
    src: url('https://allydesign.org/fonts/times-new-roman/times-new-roman.woff2') format("woff2");
}

@font-face {
    font-family: 'Truin';
    src: url('https://allydesign.org/fonts/truin/truin.woff2') format("woff2");
}

@font-face {
    font-family: 'Unlimited Pie';
    src: url('https://allydesign.org/fonts/unlimited-pie/unlimited-pie.woff2') format("woff2");
}



