// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@font-face {
    font-family: 'Alegreya';
    src: '../fonts/alegreya/alegreya.ttf';
}

@font-face {
    font-family: 'Arial';
    src: '../fonts/alegreya/arial.ttf';
}

@font-face {
    font-family: 'Arial Narrow';
    src: '../fonts/alegreya/arialnarrow.ttf';
}

@font-face {
    font-family: 'Felidae';
    src: '../fonts/alegreya/felidae.ttf';
}

@font-face {
    font-family: 'Forum';
    src: '../fonts/alegreya/forum.ttf';
}

@font-face {
    font-family: 'Kharkiv';
    src: '../fonts/alegreya/kharkiv.ttf';
}

@font-face {
    font-family: 'Le Murmure';
    src: '../fonts/alegreya/murmure.otf' format("opentype");
}

@font-face {
    font-family: 'Lora';
    src: '../fonts/alegreya/lora.ttf';
}

@font-face {
    font-family: 'Manifont';
    src: '../fonts/alegreya/manifont.ttf';
}

@font-face {
    font-family: 'Manrope';
    src: '../fonts/alegreya/manrope.ttf';
}

@font-face {
    font-family: 'Miedinger';
    src: '../fonts/alegreya/miedinger.otf' format("opentype");
}

@font-face {
    font-family: 'Neutral Face';
    src: '../fonts/alegreya/nf.otf' format("opentype");
}

@font-face {
    font-family: 'Playfair';
    src: '../fonts/alegreya/playfair.ttf';
}

@font-face {
    font-family: 'Plup';
    src: '../fonts/alegreya/plup.ttf';
}

@font-face {
    font-family: 'Ramona';
    src: '../fonts/alegreya/ramona.ttf';
}

@font-face {
    font-family: 'Soyuz Grotesk';
    src: '../fonts/alegreya/soyuz.otf' format("opentype");
}

@font-face {
    font-family: 'St.Sign';
    src: '../fonts/alegreya/st.sign.ttf';
}

@font-face {
    font-family: 'Times New Roman';
    src: '../fonts/alegreya/tnr.ttf';
}

@font-face {
    font-family: 'Truin';
    src: '../fonts/alegreya/truin.ttf';
}

@font-face {
    font-family: 'Unlimited Pie';
    src: '../fonts/alegreya/up.otf' format("opentype");
}



