$secondary-text: #95989F;
$link: #0074C7;
$secondary-text: #95989F;
$background-section: #F4F4F6;
$dividers: #DBDDE0;
$background: #FFFFFF;
$editor-selection: #700BD5;
$icons: #5C6C72;
$identity-black: #131D27;
$identity-additional-blue: #D8EEFF;
$hover-transition: all 0.1s ease-in;
