$secondary-text: #95989F;
$link: #0074C7;

$icons: #5C6C72;
$dividers: #DBDDE0;
$editor-selection: #700BD5;

$background-section: #F4F4F6;
$background: #FFFFFF;

$identity-black: #131D27;
$identity-additional-blue: #D8EEFF;
$identity-additional-gray: #EAECEF;
;

$hover-transition: all 0.1s ease-in;
$hover-outline: 4px solid $identity-black;
