@import "../vars.scss";

.M_TemplateInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 16px 4px 16px;
    color: $secondary-text;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.01em;
    position: relative;
    background: $background;

    &::after {
        content: "";
        position: absolute;
        width: calc(100vw - 32px);
        height: 1px;
        background-color: $dividers;
        bottom: 0;
    }

}