@import '../vars.scss';

.M_Toolbar {
    background: $identity-additional-gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    border-radius: 12px;
    width: 100%;
    margin: 2px 16px;
    gap: 4px;

    div {
        display: flex;
        flex-direction: row;
        gap: 4px;
        width: auto;

        .A_Button.default {
            height: 40;
            background: $background;
            color: $identity-black;
        }
    }

    .A_TextInput {
        width: 100%;
        input {
            margin: 0;
            width: 100%;
            height: 40px;
            border: 1px solid transparent;
        }
    }

    &.active {
        // justify-content: flex-start;
        div:last-of-type {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // width: 100%;
        }
    }
}