@import '../vars.scss';

.A_Button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    // margin: 0 16px;
    color: $background;
    background-color: $identity-black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 475;
    letter-spacing: -0.02em;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;

    &.secondary {
        background-color: $background;
        color: $identity-black;
        border: 1.5px solid $identity-black;

        &:disabled {
            background-color: $background !important;
            border: 1.5px solid $dividers !important;
            color: $dividers !important;
            cursor: default !important;
        }
    }

    &.tertiary {
        color: $secondary-text;
        text-decoration: underline;
        padding: 0;
        width: auto;
        background: none;
    }

    &:disabled {
        background-color: $dividers;
        cursor: default;
    }

    &.icon {
        background-color: $background;
        height: 18px;
        width: 18px;
        position: absolute;
        left: 16px;
        padding: 0;
        border-radius: 0;
        background-size: cover;

        &.back {
            background-image: url('../../assets/images/icons/back.svg');
        }

        &.backBig {
            background-image: url('../../assets/images/icons/backBig.svg');
            height: 24px;
            width: 24px;
            position: relative;
        }

        &.more {
            height: 48px;
            width: 32px;
            background-size: 59%;
            background-color: $identity-black;
            -webkit-mask-image: url('../../assets/images/icons/more.svg');
            mask-image: url('../../assets/images/icons/more.svg');
            // background-repeat: no-repeat;
            -webkit-mask-position: center;
            -webkit-mask-repeat: no-repeat;
            mask-position: center;
            mask-repeat: no-repeat;
            position: absolute;
            right: 8px;
            left: auto;
            // z-index: 100;
            cursor: pointer;

            &:hover {
                background-color: $link;
            }

        }
    }
}

.padding-both {
    width: 368px;
    margin: 0 16px;
}