@import '../vars.scss';

.A_Button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    // margin: 0 16px;
    color: $background;
    background: $identity-black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 475;
    letter-spacing: -0.02em;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;

    &.secondary {
        background: $background;
        color: $identity-black;
        border: 1.5px solid #131D27;
    }

    &.tertiary {
        color: $secondary-text;
        text-decoration: underline;
        padding: 0;
        width: auto;
        background: none;
    }

    &:disabled {
        background-color: $dividers;
        cursor: default;
    }

    &.icon {
        background: $background;
        height: 18px;
        width: 18px;
        position: absolute;
        left: 16px;
        padding: 0;
        border-radius: 0;
        background-size: cover;

        &.back {
            background-image: url('../../assets/images/icons/back.svg');
        }

        &.backBig {
            background-image: url('../../assets/images/icons/backBig.svg');
            height: 24px;
            width: 24px;
            position: relative;
        }

        &.more {
            background-image: url('../../assets/images/icons/more.svg');
        }
    }
}