@import "../vars.scss";

.P_DesignCreation {
    .sectionNav {
        background: $background;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 64px 0 16px 0;
        gap: 12px;
    }

    .A_EditorElement {
        cursor: pointer;

        &:hover {
            outline: 3px solid $link;
        }
    }
}