@import "../vars.scss";

.M_PalettePreviews {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    margin-bottom: 74px;
}

.M_FontPreviews, .M_PatternPreviews {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: $identity-additional-gray;
    height: 434px;

    .A_FontPreview {
        width: 368px;
        height: 100%;
        background: $background;
        border-radius: 16px;
        padding: 16px;
        font-size: 28px;
        line-height: 110%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        cursor: pointer;

        &:hover {
            outline: $hover-outline;
        }
    }
}