@import "../vars.scss";

.P_Templates {
    width: 100vw;
    background-color: $identity-additional-gray;

    .search {
        padding: 64px 0 16px 0;
        background-color: $background;
        border-radius: 0 0 20px 20px;

        .A_Text {
            margin-left: 16px;
        }
    }

    .feedSections {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 32px 16px;
    }

    .sectionNav {
        background: $background;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 88px 0 16px 0;
        gap: 12px;
    }

    .templatesWrapper {
        padding: 16px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}